---
import ThemeToggle from "@/components/theme-toggle.astro"
import SearchButton from "@/components/search-button.astro"
import Link from "@/components/link.astro"

interface Props {
  title: string
  description?: string | undefined
}

const currentPath = Astro.url.pathname
const { title, description } = Astro.props
---

<header data-animate data-animate-speed="slow" class="mb-7 space-y-0.5">
  <div class="flex items-center justify-between">
    <h1 data-pagefind-filter="Pages" class="text-accent-foreground font-bold">
      {title}
    </h1>
    <div class="flex gap-1">
      <SearchButton />
      <ThemeToggle />
    </div>
  </div>
  {description && <p class="text-sm">{description}</p>}
  {
    currentPath !== "/" && (
      <div class="flex items-center gap-x-1 text-sm">
        by
        <Link href="/">John S</Link>
      </div>
    )
  }
</header>
