---
import Link from "@/components/link.astro"
import siteConfig from "@/site.config"
import Layout from "@/layouts/layout.astro"
import { Icon } from "astro-icon/components"
---

<Layout>
  <div class="space-y-2">
    <p>
      Currently working at <Link href="https://julo.se" external
        ><b>Julo</b><Icon name="link" /></Link
      >.
    </p>
    <div class="flex items-center gap-0.5">
      <Link variant="icon" href={siteConfig.mailto} external>
        <Icon name="email" />
      </Link>
      <Link variant="icon" href={siteConfig.github} external>
        <Icon name="github" />
      </Link>
      <Link variant="icon" href={siteConfig.linkedin} external>
        <Icon name="linkedin" />
      </Link>
    </div>
  </div>
  <div class="mt-14 flex flex-col gap-2 sm:flex-row sm:gap-7">
    <p>My Space</p>
    <div class="flex flex-col gap-1">
      <div class="flex items-center gap-3">
        <Link href="/projects"><b>Projects</b></Link>
        <span class="text-sm">A space for some of my projects</span>
      </div>
    </div>
  </div>
</Layout>
