name: Check Pull Request Title

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false'

    steps:
      - uses: Slashgear/action-check-pr-title@v4.3.0
        with:
          regexp: "(feat|fix|docs|refactor|chore|remove|ci): .+" # Regex the title should match.
          helpMessage: "example: 'fix: add src to content in tailwind config"
